/* Global styles */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Background styles for the body */
.bodybg {
  background-image: url('../Image/kendo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

/* Styles for the main container div */
.page {
  margin-top: 3%;
  width: 70%;
  height: 100%;
  display: flex;
  color: crimson;
  text-align: center;
  justify-content: center;
}

/* Styles for page 1 container */
#page1 {
  background: black;
  border-radius: 10px;
}

/* Styles for page 2 container */
#page2 {
  background: black;
  border-radius: 10px;
}

/* Styles for page 3 container */
#page3 {
  background: black;
  border-radius: 10px;
}

/* Styles for the logo image */
#logo {
  max-width: 39px;
  min-width: 30px;
  padding-top: 10px;
}

/* Styles for the header element */
header{
  background-color: #262626;
}

/* Styles for list items */
li{
  list-style: none;
}

/* Styles for anchor (link) elements */
a{
  color: white;
  text-decoration: none;
}

/* Styles for the navbar */
.navbar{
  background-color: black;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

/* Styles for the navigation menu items */
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* Styles for the branding (logo/name) in the navbar */
.nav-branding{
  font-size: 3rem;
  padding-left: 3%;
}

/* Styles for the navigation links in the navbar */
.nav-link{
  transition: 0.7s ease;
  font-size: 200%;
  padding: 6px;
}

/* Styles for the navigation links on hover */
.nav-link:hover{
  color: dodgerblue;
  background-color: dimgray;
  border-radius: 3px;
}

/* Styles for the hamburger icon (displayed on smaller screens) */
.hamburger{
  display: none;
  cursor: pointer;
}

/* Styles for the bars in the hamburger icon */
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Styles for the introduction section */
#intro{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
  margin: 4% auto;
  color: white;
  font-size: 500%;
  background-color: black;
}

/* Styles for the page container */
#pagecontainer
{
  display: flex;
  justify-content: center;
}

/* Styles for page container 1 */
.pagecontainer1
{
  display: flex;
  justify-content: center;
}

/* Styles for the page header */
.pageheader
{
  font-size: 250%;
  font-weight: bold;  
  color: peachpuff;
  margin: 5%;
}

/* Styles for the page 1 content container */
.page1content-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 3%;
  flex-direction: row;
  margin-bottom: 4%;
  text-align: center;
  min-height: 60vh;
  font-size: 110%;
}

/* Styles for the reversed page 1 content container */
.page1content-containerrev{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  flex-direction: row-reverse;
  margin-bottom: 4%;
  text-align: center;
  min-height: 60vh;
  font-size: 110%;
}

/* Styles for the video page 1 content container */
.page1content-containervid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
  flex-direction: column;
  margin-bottom: 4%;
  text-align: center;
}

/* Styles for the video content in page 1 */
.page1content-video{
  color: crimson;
  padding-bottom: 3%;
  font-size: 150%;
}

/* Styles for individual divs within page 1 content containers */
.page1content-container div {
  display: flex;
  align-items: center;
  max-width: 50%;
  text-align: center;
}

/* Styles for individual divs within reversed page 1 content containers */
.page1content-containerrev div{
  display: flex;
  align-items: center;
  max-width: 50%;
  text-align: center;
}

/* Styles for pictures in the page content */
.picture{
  max-width: 35%;
  margin-right: 3%;
  margin-left: 6%;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
  transition: 1s;
}

/* Styles for pictures on hover */
.picture:hover{
  transform: scale(1.1);
  z-index: 2;
}

/* Styles for videos in the page content */
.video{
  min-width: 60%;
  min-height: 330px;
}

/* Styles for the content separator */
.contentSeparate{
  height: 120px;
  width: 100%;
  background-color: black;
  border: 0;
}

/* Styles for the "Read More" link */
#more{
  display: none;
}

.readmore{
  padding:  3px 6px;
  color: brown;
  font-size: 200%;
  letter-spacing: 1px;
  border-radius: 6px;
}

.readmore:hover{
  color: navy;
  -webkit-text-stroke: 1px black;
}

/* Styles for hidden elements */
.hidden
{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

/* Styles for visible elements */
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/* Styles for fading elements */
.fade{
  display: none;
  opacity: 1;
  animation: fadeIn 2s ease;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* Styles for text adjustment */
.textadjust{
  padding-top: 0;
}

/* Styles for the "Scroll to Top" button */
#scrollTop{
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 10px 15px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
  font-weight: bold;
}

/* Styles for the "Scroll to Top" button on hover */
#scrollTop:hover{
  background-color: #f7f7f7;
  color: #000;
}

/* Styles for the footer section */
footer{
  background-color:aqua;
  color: black;
  text-align: center;
  border-radius: 8px;
}

/* Media query for screens with a maximum width of 800px (smaller screens) */
@media screen and (max-width:800px) {

  /* Styles for the hamburger icon when active */
  .hamburger{
    display: block;
  }

  .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Styles for the navigation menu on smaller screens */
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
  }

  .nav-item{
    margin: 16px 0;
  }

  /* Styles for navigation menu when active */
  .nav-menu.active{
    left: 0;
  }

  /* Styles for navigation links on smaller screens */
  .nav-link{
    font-size: 100%;
  }

  /* Styles for page 1 content container on smaller screens */
  .page1content-container{
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Styles for reversed page 1 content container on smaller screens */
  .page1content-containerrev{
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Styles for pictures on smaller screens */
  .picture{
    max-width: 70%;
  }

  /* Styles for the introduction section on smaller screens */
  #intro {
    font-size: 200%;
  }

  /* Styles for videos on smaller screens */
  .video{
    min-width: auto;
    min-height: auto;
  } 

  /* Styles for text adjustment on smaller screens */
  .textadjust{
    padding-top: 5%;
  }

  /* Styles for page 1 content container on smaller screens */
  .page1content-container{
    font-size: 130%;
  }

  /* Styles for reversed page 1 content container on smaller screens */
  .page1content-containerrev{
    font-size: 130%;
  }

  /* Styles for individual divs within page 1 content containers on smaller screens */
  .page1content-container div{
    max-width: 80%;
  }

  /* Styles for individual divs within reversed page 1 content containers on smaller screens */
  .page1content-containerrev div{
    max-width: 80%;
  }

  /* Styles for the video content in page 1 on smaller screens */
  .page1content-video{
    font-size: 130%;
    max-width: 70%;
  }

  /* Styles for the main container on smaller screens */
  .page{
    width: 85%;
  }
}